/*HTML { overflow-x :hidden ; }*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  body {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    min-width: 340px;
  }
  .mainbloc {
    margin-left: 20vh;
  }
  header {
    position: relative;
    font-size: medium;
    display: flex;
    flex-direction: row;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vh 0 10vh;
    border: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
  }
  .logo1 {
    display: flex;
    margin-left: 10vh;
  }
  header ul {
    display: inline-block;
    list-style: none;
    height: 12vh;
  }
  header ul li {
    display: inline-block;
    padding: 4vh 1vh 4vh 1vh;
    color: hsl(233, 8%, 62%);
  }
  header li:hover {
    display: inline-block;
    color: hsl(233, 26%, 24%);
    border-bottom: solid 4px hsl(192, 70%, 51%);
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
  .bouttonreq {
    font-weight: 700;
    color: white;
    border-radius: 50px;
    height: 6vh;
    width: 25vh;
    border: 0;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    font-size: 100%;
  }
  .bouttonreq:hover {
    opacity: 0.5;
  }
  .Sus {
    border: 0;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
  }
  .mainSus {
    width: 85vh;
    padding-top: 25vh;
    padding-left: 20vh;
  }
  .mainSus h1 {
    font-weight: 400;
    font-size: 2.5em;
    color: hsl(233, 26%, 24%);
  }
  .mainSus h5 {
    padding: 4vh 0 6vh 0;
    color: hsl(233, 8%, 62%);
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
  }
  .imgGalere {
    margin-left: 30rem;
    margin-top: -10rem;
    position: absolute;
    display: flex;
    height: auto;
  }
  .decoImg2 {
    position: absolute;
    display: flex;
    z-index: 1;
  }
  .decoImg3 {
    position: absolute;
    display: flex;
    z-index: 3;
  }
  .main2 {
    border: 0;
    display: flex;
    flex-direction: column;
    background-color: hsl(220, 16%, 96%);
    height: 80vh;
  }
  .why {
    display: flex;
    flex-direction: column;
    width: 100vh;
    padding-top: 12vh;
    padding-left: 20vh;
  }
  .why h2 {
    display: flex;
    font-weight: 400;
    font-size: 1.8em;
    color: hsl(233, 26%, 24%);
  }
  .why h5 {
    display: flex;
    padding: 4vh 0 6vh 0;
    color: hsl(233, 8%, 62%);
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
  }
  .blocA {
    justify-content: center;
    justify-content: space-between;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
  }
  .bloc h3 {
    color: hsl(233, 26%, 24%);
    padding-top: 4vh;
    font-weight: 400;
  }
  .blocA h6 {
    line-height: 180%;
    padding-top: 3vh;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
  }
  .online {
    width: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0 1vh 1vh 0;
  }
  .budgeting {
    width: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0 1vh 1vh 0;
  }
  .onboarding {
    width: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0 1vh 1vh 0;
  }
  .api {
    width: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0 1vh 1vh 0;
  }
  .Articles {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 0 1vh 1vh 0;
  }
  .titre {
    padding-left: 20vh;
    padding-top: 10vh;
  }
  .titre h2 {
    display: flex;
    font-weight: 400;
    font-size: 1.8em;
    color: hsl(233, 26%, 24%);
}
  .blocB {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  .article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vh;
    background-color: white;
    padding: 0 1vw 1vw 0;
  }
  .imgART img {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-radius: 5px 5px 0 0;
  }
  .texte {
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 2vh;
    padding: 4vh 0 6vh 0;
    color: hsl(233, 8%, 62%);
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
  }
  .article h6 {
    font-size: x-small;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
  }
  .article h5 {
    padding-top: 1vh;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    font-size: small;
    line-height: 150%;
  }
  .article h4 {

    font-weight: bolder;
    padding-top: 2vh;
    color: hsl(233, 26%, 24%);
  }
  
  footer {
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
  }
  
  footer > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  footer > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menuFooter{
      list-style: none;
      text-decoration:none;
      color: white;
  }
  
  footer > div > li {
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
  }
  
  footer > div > li:hover {
    color: hsl(136, 65%, 51%);
  }
  
  #reseauxSociaux {
    width: 150px;
    padding: 10px;
  }
  
  .logoReseauxSociaux {
    fill: hsl(0, 0%, 100%);
    transition: all 1s;
  }
  .logoReseauxSociaux:hover {
    fill: hsl(136, 65%, 51%);
  
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;

  }
  .boxDroite h5 {
    color: white;
    font-size: small;
    font-weight: 30;
    color: hsl(233, 10%, 53%);
  }
